name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    uses: hansbeeksma/release-infrastructure/.github/workflows/reusable-release-please.yml@main
    with:
      release-type: "node"
    secrets: inherit
